@import "../../variable";

.post {
  box-shadow: 4px 4px 8px 3px rgba(34, 60, 80, 0.3);
  border-radius: 10px;

  &__title {
    color: $titleColor;
    max-width: 900px;
  }

  &__subtitle {
    font-size: larger;
    max-width: 900px;
  }

  &__img {
    max-width: 100px;
  }
}
