$titleColor: brown;
$borderColor: blue;

$btnColorShow: rgb(20, 210, 204);
$btnColorHide: rgb(137, 22, 226);
$btnHoverColor: rgb(100, 10, 20);

$loaderColor: red;

$bgColor: rgb(9, 245, 229);
$navLinkColor: rgb(170, 0, 0);
$navLinkColorHover: red;
